<a class="container__link" href="https://github.com/JefersonLRS/js-developer-pokedex" target="_blank">
    <div class="container__big-card">
    
        <div class="big-card__picture">
            <img
                src="../../../assets/images/pokedev.png"
                alt="mainContent"
                width="500px"
            >
        </div>
    
        <div class="big-card__title">
            <h2>Confira novo projeto: Pokedev</h2>
        </div>
    
        <div class="big-card__description">
            <p>Este projeto apresenta uma Pokédex desenvolvida em JavaScript, oferecendo aos usuários uma enciclopédia interativa e informativa dos Pokémons.</p>
        </div>
    
    </div>
</a>