.container__menu-title {
    margin-bottom: .5rem;
}

.container__menu-title > hr {
    opacity: 30%;
}

.container__menu-title > h1 {
    padding: 1rem 2rem;
    font-size: 9rem;
    text-align: center;
}