<a class="container__link" href="https://github.com/JefersonLRS/quiz-volei" target="_blank">
    <div class="container__small-card">
        <div class="container__small-card-content">
            <div class="small-card__picture">
                <img
                    src="../../../assets/images/nubank.png"
                    alt="mainContent"
                    width="250px"
                    height="auto"
                >
            </div>
        
            <div class="small-card__title">
                <h2>Quiz de volei desenvolvido em ReactJS, clique aqui para acessar o repositório</h2>
            </div>
        </div>
        <div class="container__small-card-line">
            <hr>
        </div>
    </div>
</a>
