<div class="container__content">
    <div class="content__content-image">
        <img src="{{pictureContent}}" alt="">
    </div>
    <div class="container__content-text">
        <div class="content__content-title">
            <h1>Conheça o projeto: {{titleContent}}</h1>
            <hr>
                <span><a href="{{linkContent}}" target="_blank">Clique aqui para acessar</a></span>
            <hr>
        </div>
        <div class="content__content-top1">
            <h2>Tecnologias utilizadas 🚀</h2>
            <hr>
            <ul>
                <li>
                    {{techDescription}}
                </li>
            </ul>
        </div>
        <div class="content__content-top2">
            <h2>Funcionalidades 🌟</h2>
            <hr>
            <ul>
                <li>
                    {{functionsDescription}}
                </li>
            </ul>
        </div>
        <div class="content__content-top3">
            <h2>Como Executar o Projeto na sua máquina ⚙️</h2>
            <hr>
            <ol>
                <li>
                    {{howExecuteDescription}}
                </li>
            </ol>
        </div>
        <div class="content__content-conclusion">
            <h2>Conclusão 🎉</h2>
            <hr>
            <p>{{conclusionDescription}}</p>
        </div>
    </div>
</div>
