<div class="container__menu-bar">
    <ol class="container__menu-bar-ol">
        <li>
            <a href="https://www.linkedin.com/in/contato-jeferson-luis/" target="_blank">LinkedIn</a>
        </li>
        <li><span>|</span></li>
        <li>
            <a href="https://github.com/JefersonLRS " target="_blank">GitHub</a>
        </li>
        <li><span>|</span></li>
        <li>
            <a href="https://www.behance.net/jefersonlus1" target="_blank">Behance</a>
        </li>
        <li><span>|</span></li>
        <li>
            <a href="mailto:contato.jefersonlrs@gmail.com/" target="_blank">Contato por e-mail</a>
        </li>
    </ol>
</div>
